data/annotations/published_images.csv
build/
dist
build
goa_loader/__pycache__/path.cpython-39.pyc
goa_loader.egg-infot/
goa_loader/__pycache__
__pycache__/
data/images/*
gallery_of_art_loader.egg-info

goa_loader/__pycache__/load.cpython-39.pyc
goa_loader.egg-info/
goa_loader/__pycache__/
